@import "tailwindcss";

@theme {
  --color-primary: #222222;
  --color-primary-foreground: #e9e4db;
  --color-secondary: #f4eee5;
  --color-secondary-foreground: #ebebeb;
  --color-mutes: #ffffff;
  --color-mutes-foreground: #ffa500;
  --color-ring: #9cb096;
  --color-footer: #e9e4db;
}

@layer base {
  button {
    cursor: pointer;
  }
}
::-webkit-scrollbar {
  display: none;
}
